/* about_me.css */

body {
    font-family: Arial, sans-serif;
    background-color: 		#9cabff;
    margin: 0;
    padding: 0;
}

header {
    background-color: 		#07116c;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
}

main h2 {
    color: #000000;
}

main p {
    color: #000000;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
}
