body {
    font-family: Arial, sans-serif;
    background-color: 		#72b9ff;
    margin: 0;
    padding: 0;
}

header {
    background-color: 	#5141cc;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

main {
    padding: 20px;
}

#hobbies {
    margin-bottom: 20px;
}

#hobbies h2 {
    color: #000000;
    font-size: 20px;
    border-bottom: 2px solid #000000;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#hobbies ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 20px;
}

#hobbies ul li {
    margin-bottom: 10px;
    color: #000000;
    font-size: 16px;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
